<div class="jumbotron">
  <h1>petroglyph</h1>
  <p><b>petroglyph</b> is a web app which aims ...</p>
  <%= link_to "Learn more >>", about_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Foo</h2>
    <p>
      foo bar baz.
    </p>
  </div>
  <div class="col-lg-4">
    <h2>Foo</h2>
    <p>
      foo bar baz.
    </p>
  </div>
  <div class="col-lg-4">
    <h2>Foo</h2>
    <p>
      foo bar baz.
    </p>
  </div>
</div>
