<%= form_for(current_user.video_likes.build(video_id: @video.id),
             remote: true) do |f| %>
  <div><%= f.hidden_field :video_id %></div>
  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
    <%= @video.likes.count %>
    <span class="glyphicon glyphicon-thumbs-up"></span>
  <% end %>
<% end %>
