
<div class="col-lg-12" id="list-area">
  <ul id="dragging"></ul>

  <div class="col-lg-6" id="unselected-area">
    <div class="videos-list">
      <h4>Unselected videos</h4>
      <ul id="unselected-videos">
        <%= render partial: 'video', collection: @videos %>
      </ul>
    </div>
  </div>

  <div class="col-lg-6" id="selected-area">
    <div class="videos-list">
      <h4>Selected videos</h4>
      <ul id="selected-videos">
      </ul>
    </div>
  </div>
</div>
